@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@500&family=Share:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(243, 243, 243);
    max-width: 1000px;
    margin: 0px auto 0px auto;
    font-family: 'Saira Extra Condensed', sans-serif;
    color: rgb(131, 174, 68);
}

h1 {
    font-size: 40px;
}

.form-wrapper {
    max-width: 700px;
    margin: 50px auto;
    background-color: white;
    border-radius: 13px;
    padding: 20px;
    box-shadow: 5px 2px 12px -1px rgba(158, 158, 158, 0.75);
}

.form__form-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    line-height: 30px;
    font-size: 22px;
}

.form__input-group {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

input,
select {
    border-radius: 3px;
    padding: 13px;
    border: solid 1px rgb(131, 174, 68);
    background-color: rgb(255, 221, 238);
}

input {
    transition: 0.4s ease-in-out;
}

select:hover {
    background-color: rgb(202, 245, 137);
}

select:focus {
    border: 3px solid rgb(164, 200, 111);
}

.button-container {
    display: flex;
    justify-content: flex-end;
}

.send-button {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    background-color: hotpink;
    color: white;
    border-radius: 7px;
    padding: 15px 30px;
    border: solid 2px rgb(131, 174, 68);
    cursor: pointer;
}

.send-button:hover {
    background-color: rgb(255, 51, 153);
    color: white;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .form__form-inner {
        grid-template-columns: 1fr;
    }

    h1 {
        display: flex;
        justify-content: center;
    }

    .button-container {
        justify-content: center;
    }

    .form__input-group {
        width: ;
    }

}